.form-add-article {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.container-inputs-add-article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.input-add-article {
  height: 2rem;
  margin: 1rem 0rem 1rem 0;

  width: 60%;
  text-indent: 5px;
  border-radius: 10px;
  background-color: #ffffff;
}

.container-buttons-add-article {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  margin-bottom: 1rem;
  /* border: thin solid black; */
  width: 100%;
}

.btn-button,
.btn-link {
  margin-top: 0.5rem;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 16px;
  margin-left: 1rem;
  margin-top: 1rem;
  color: black;
  font-weight: bold;
  padding: 0.4rem;
  background-color: transparent;
  cursor: pointer;
}

.btn-link:hover {
  border: 2px solid rgba(2, 2, 2, 1);
  border-radius: 10px;
}

.btn-button:hover {
  border: 2px solid rgba(2, 2, 2, 1);
  border-radius: 10px;
}

.btn-link {
  text-decoration: none;
}

.container-label-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.container-label-input label {
  margin-right: 1rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .btn-button {
    display: none;
  }
  .container-buttons-add-article {
    display: none;
  }

  .editor-article {
    /* border: thick solid pink; */
    margin-bottom: 4rem;
  }

  .container-inputs-add-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    width: 100%;
  }

  .form-add-article {
    /* border: thick solid green; */
    width: 100%;
  }

  .input-add-article {
    width: 100%;
    margin: 0.5rem 0rem 1rem 0;
    text-indent: 5px;
    border-radius: 10px;
    height: 2.5rem;
  }
  .container-label-input { 
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .container-label-input label {
    align-self: flex-start;
  }
}
