.form-add-article {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: thin solid salmon; */
}
.container-inputs-add-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  /* border: thick solid red; */
}

.input {
  height: 2rem;
  margin: 1rem 0rem 1rem 0;
  width: 80%;
  text-indent: 5px;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.container-buttons-add-article {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  margin-bottom: 1rem;
  /* border: thin solid black; */
  width: 100%;
}

.btn-button,
.btn-link {
  margin-top: 0.5rem;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 16px;
  margin-left: 1rem;
  margin-top: 1rem;
  color: black;
  font-weight: bold;
  padding: 0.4rem;
  background-color: transparent;
  cursor: pointer;
}


.btn-link:hover {  
  border: 2px solid rgba(2, 2, 2, 1);
  border-radius: 10px; 
  
}

.btn-button:hover{
  border: 2px solid rgba(2, 2, 2, 1);
  border-radius: 10px;
}

.btn-link {
  text-decoration: none;
} 

/* @media screen and (min-width: 1024px) {
  .container-inputs-add-article{
    flex-direction: row;
   
    width: 80%;
  }

  .container-buttons-add-article{    
    width: 100%;
  }

  .input{
    
    width: 30%;
  }
  .form-add-article{
   width: 80%;
  margin: auto;
  }
} */

@media screen and (min-width: 768px) {
  .form-add-article {
    width: 80%;
    margin: auto;
  }
}
