.home-container {
  
  background-color: rgba(0, 0, 0, 1);
  min-height: 100vh;
  background-image: url('/public/images/fondo_mountains.jpg');  
  background-repeat: no-repeat, repeat;
  background-size: cover;
  
}
.shadow-home{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;  
}

.footer {
  text-align: center;
  padding: 1rem;
  color: #eee;
}

.Headlines {
  background-color: transparent;
  padding: 0.8rem;
  color: #eee;
}

.header {
  width: 100%;
  background-color: transparent;
}

main {
  position: relative;
  flex-grow: 1; 
 
}

@media screen and (min-width: 1024px) {
  .home-container {
    display: flex;
    flex-direction: column;
    
    /* border: thick solid rebeccapurple; */
  }
  .header {
    width: 100%;
    background-color: transparent;
  }


}
