.container_banner {
  
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  color: white;
  width: 80%;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.text_banner p {
  text-align: center;
  user-select: none;
  font-size: 18px;
  padding-top: 1rem;
}

.text_banner {
  font-size: 25px;
  width: 100%;
}

.title-banner{
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container_banner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
  }

  .text_banner {
    display: none;
  }
}
