.container_banner {
  
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  color: white;
  width: 80%;
  margin-top: 16rem;
  margin-bottom: 4rem;
}

.text_banner p {
  text-align: center;
  user-select: none;
  font-size: 18px;
  padding-top: 1rem;
}

.text_banner {
  font-size: 25px;
  width: 100%;
}

.title-banner{
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container_banner {
    padding: 0 0.3rem;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    width: 100%;
    order: 1;
  }

 
}
