.home {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  
  /* background-color: var(--second-color) */
  /* background-image: url(../../../public/images/fondo.jpg); */
}

@media screen and (max-width: 415px) {
.home{
  justify-content: center;

}

}
