
.container-search {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    border: thin solid;
    width: 100%;  
}

.input-search{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 80%;
    font-size: medium;
    background-color: rgb(238, 233, 227);
    text-indent: 2.5rem;
    height: 2rem;
    
}

form{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

@media screen and (min-width: 768px){
    .input-search{
        width: 40%;
        height: 54px;
        font-size: medium;
        height: 3rem;
        
    }



}
    
