
.container-search {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    border: thin solid;
    width: 100%;
    
   
}

.input-search{
    width: 80%;
    font-size: medium;
    background-color: rgb(238, 233, 227);
    text-indent: 10px;
}

@media screen and (min-width: 768px){
    .input-search{
        width: 40%;
        height: 54px;
        font-size: medium;
        height: 3rem;
        
    }

}
    
