.containerSerach {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  /* background-color: var(--second-color) */
  background-image: url(../../../public/images/fondo.jpg);
}
.title {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 8rem;
  background-color: transparent;
}
.title h1 {
  font-size: 70px;
  font-size: 70px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0em;
  color: white;
}
.form-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* border: thick solid green; */
}
.input-search {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 80%;
  font-size: medium;
  background-color: rgb(250, 250, 250);
  text-indent: 3rem;
  height: 3rem;
}

.articles-list {
  width: 80%;

  align-self: center;
}

.articles-list li a {
  text-decoration: none;
  color: black;
}

.articles-list li {
  background-color: rgb(242, 242, 248);
  padding: 0.5rem;
  margin-left: 0;
  list-style-type: none;
}

.articles-list li:hover {
  background-color: gray;
}

@media screen and (min-width: 768px) {
  .input-search {
    width: 50%;
    font-size: medium;
    height: 3rem;
  }
  .articles-list {
    width: 49%;
  }
  .articles-list li a {
    text-decoration: none;
    color: black;
  }

  .articles-list li {
    background-color: rgb(242, 242, 248);
    padding: 0.5rem;
    margin-left: 0;
    list-style-type: none;
  }

  .articles-list li:hover {
    background-color: gray;
  }
}
