.select_categories {

  margin: 1rem 0rem 1rem 0;
  height: 2rem;
  width: 60%;
  border-radius: 10px;
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .select_categories {
    width: 100%;
    margin: 0.5rem 0rem 1rem 0;
    height: 2.5rem;
    
  }
}
