.sub_nav_items {
  display: flex;
  margin-left: 3rem;
  margin-top: 3rem;
  /* border: thick solid yellow; */
  width: 80%;
}
.sub_nav_items > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 20px;
  margin-right: 2rem;
  text-decoration: none;
  border: 2px solid transparent;
  transition: 0.3s ease-in-out;
}

.black-color {
  color: black;
  font-weight: bold;
}
.black-color:hover {
  border: 2px solid black;
  border-radius: 10px;
}
.white-color {
  color: white;
  font-weight: bold;

}
.white-color:hover {
  border: 2px solid white;
  border-radius: 10px;
}
