*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */

  font-family: "Raleway", sans-serif;
}

:root {
  --first-color: #035e4c;
  --second-color: #4c8201;
  --second-color-alpha: rgba(76, 130, 01, 0.3);
}
